{% load i18n %}
{% load crispy_forms_tags %}

{% if has_workflow_choices %}
    <h5>{% translate "Workflow step" %}</h5>
    <form class="theme-form" method="post" novalidate>
        {% csrf_token %}

        <!-- non_form_errors is used to display errors that are not associated with a particular field -->
        {{ form.non_form_errors }}

        <!-- the form itself with crispy -->
        {% crispy form form.helper %}
    </form>
{% else %}
    <div class="alert alert-info" role="alert">
        <p>
            {% blocktrans %}
                There are no workflow steps available for this campaign and your set of permissions.
            {% endblocktrans %}
        </p>
    </div>
{% endif %}