{% extends "app/base.html" %}

{% load viewset %}

{% block body %}

    <b>CONTEXT:</b>
    {% block vs_context %}
        {% vs_context_actions object %}
    {% endblock vs_context %}

    {% block vs_header %}
        <h1>{% vs_header %}</h1>
    {% endblock vs_header %}

    {% block vs_paragraph %}
        {% vs_paragraph %}
    {% endblock vs_paragraph %}

    <hr>

    {% block vs_filter %}
    {% endblock vs_filter %}

    {% block vs_content %}
    {% endblock vs_content %}

{% endblock body %}
