{# src/crud_views/templates/crud_views/conditional/toggle_group.html #}
{% load static %}
{% if cv_toggle_legend %}
<fieldset class="cv-toggle-group {{ cv_toggle_css }}" cv-data-toggle-group cv-data-toggle-field="{{ cv_toggle_field }}">
    <legend>{{ cv_toggle_legend }}</legend>
    {{ cv_toggle_inner }}
</fieldset>
{% else %}
<div class="cv-toggle-group {{ cv_toggle_css }}" cv-data-toggle-group cv-data-toggle-field="{{ cv_toggle_field }}">
    {{ cv_toggle_inner }}
</div>
{% endif %}
<script src="{% static 'crud_views/js/toggle.js' %}"></script>
