{% if cv_action_enabled is not False %}
<a {% if cv_list_action_method == "get" %}
    href="{{ cv_url }}"
{% elif cv_list_action_method == "post" %}
    href="#"
    data-cv-action="submit-form"
    data-cv-target="cv_form_{{ cv_oid }}"
{% endif %}
    class="btn btn-outline-{% if cv_access is True %}primary{% else %}secondary{% endif %} btn-xs{% if cv_access is not True %} disabled{% endif %}"
    role="button"
    title="{{ cv_action_label }}"
    cv-key="{{ cv_key }}">
    <i class="{{ cv_icon_action }}"></i>
</a>
{% endif %}
