{% if cv_action_enabled is not False and cv_access is True %}
<a {% if cv_modal %}
    href="{{ cv_url }}"
    data-cv-modal="true"
    data-cv-modal-size="{{ cv_modal_size }}"
{% elif cv_list_action_method == "get" %}
    href="{{ cv_url }}"
{% elif cv_list_action_method == "post" %}
    href="#"
    data-cv-action="submit-form"
    data-cv-target="cv_form_{{ cv_oid }}"
{% endif %}
    class="btn btn-outline-primary btn-xs"
    role="button"
    title="{{ cv_action_label }}"
    cv-key="{{ cv_key }}">
    <i class="{{ cv_icon_action }}"></i>
</a>
{% endif %}
